<div class="container">
  <div class="row">
    <% @todos.pending_tasks.each do |todo| %>
        <div class="col">
            <div class="body">

            <%= todo.user.email %>


        </div>

    </div>

<% end %>
</div>
</div>
