<div class="container">
  <div class="row">
    <% @todos.each do |todo| %>
        <div class="col">
            <div class="body">

            <%= @User %>


        </div>

    </div>

<% end %>
</div>
</div>
