<div class="container">
  <h2> Ranking de Usuarios que terminaron primero la tarea '<%= @todos.description %>'</h2>

    <% @todos.pending_tasks.limit(5).each do |todo| %>

            <ul>
                <li><%= todo.user.email %></li>

            </ul>




<% end %>

</div>
